body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}
.header{
 width: 100%;
 height: 69px;
 background-color: black;
 display: block;
position: fixed;
top: 0px;
border-bottom: 1px solid seashell;
z-index: 99;
right: 5px;
}
.title-image {
    height: 67px;
    float: left;
padding-left: 20px;
position: fixed;

}
.list{
    float: right;
    height: 100px;
    margin: 0 auto;
}
.list li {
    float: left;
    display: table;
    padding: 0px 20px;
    height: 100%;
    position: relative;
    top: 22px;
    text-decoration: underline;
}
.home{
  
  
    background-image: url(./image/Thiết\ kế\ chưa\ có\ tên.png);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
    filter: brightness(1.25);
    height: 700px;
    max-width: 1200px;
    margin: 40px auto 40px auto;
    display: flex;
    flex-wrap: wrap;
    right: 40px
  }
  .h {
    text-align: center;
    margin: auto;
    width: 200%;
    text-align: center;
    margin-top: 70mm;
    
    
  }
  .ggggggggjjjjjjjjjdnnmd {
      text-align: center;
  }
  
  .asd {
    width:250px;
    float: right;
    margin-right: 250px;
    
    margin-top: 100px;
  }
  .sss {
      position: relative;
      left: 90px;
  }
  * {box-sizing: border-box;}

.container {
  position: relative;
  width: 50%;
  max-width: 300px;
  float: left;

}

.image {
  display: block;
  width: 100% ;
  height: auto;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center !important;
  right: 10px;
}

.container:hover .overlay {
  opacity: 1;
}
.fccccccccccsaeer {
    text-align: center;
    margin-top: 500px;
}
.pic{
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 40px 20px 40px;
    justify-items: center;
  }
  .a {
    width: 300px;
    border-radius: 30px;
    height: 404px;
  }
  .end{
    margin-top: 50px;
   border-top: 1px solid seashell;
   height: 30px;
  }
  .cpr{
    float: left;
  }
  .nb{
    float: right;
  }
.aa {
    width: 300px;
    border-radius: 30px;
    height: 300px;
  }
  
