body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}
p  {
    width: 700px;
    margin-left: 110px;
}
h2{
    margin-left: 110px;
}
img {
    margin-left: 110px;
}
